#film-form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#film-form ion-item{
  display: flex;
  align-items: center;
}

#film-list{
  color: aqua;
  display: flex;
  flex-wrap: wrap;
}

#filmsList ion-item{
  width: 100%;
  padding: 1em;
}